*.swp
.vagrant/
vagrant/

Admin/logs/
Admin/tmp/
Owner/logs/
Owner/tmp/
Server/logs/
Server/uploads/
Server/wwwroot/stickers/
!logs/.gitkeep
Client/apps/

sourcetreeconfig

Admin/init.php
Admin/wwwroot/.htaccess

Client/init.php

Owner/init.php
Owner/wwwroot/.htaccess

Pages/init.php
Pages/wwwroot/.htaccess

Server/init.php
Server/wwwroot/.htaccess



