*.swp
.vagrant/
vagrant/

Admin/logs/
Admin/tmp/
Server/logs/
Server/uploads/
!logs/.gitkeep
Admin/init.php
Server/init.php
Client/js/app/init.js
Client/apps/

sourcetreeconfig
Admin/wwwroot/.htaccess
Server/wwwroot/.htaccess
