/* Safari Hack*/
/*@media screen and (-webkit-min-device-pixel-ratio:0){
	# {
		
	}
}*/
/*IE6 Hack*/
/**html #{
	
}*/
/*IE7 Hack*/
/**:first-child+html # {
	
}*/
/*IE8 Hack*/
/*html>/**//*body p {
        color /*\**//*: blue\9;
		font-size: 20px\9;
}*/


/*==============================*/
/*			general				*/
/*==============================*/
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

ul {
	list-style: none;
}

img{
	border: 0;
	vertical-align: bottom;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

a {
	color: #4BA4DF;
}

html {
	height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 1.5;
	text-align: center;
	color: #222222;
}

form {
	border: none;
}

.invisible {
	display: none;
}

.clear {
	clear: both;
}

.scrollable{
    height: 100px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.button{
	border: none;
	background: #4BA4DF;
	color: #FFFFFF;
	padding:  0px 30px;
	text-decoration: none;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.textred{
	color: #E94B4D;
}
.red{
	background: #E94B4D !important;
}
.gray{
	background: #2E2F33 !important;
}

/*------------------------------*/
/*           header				*/
/*------------------------------*/

/*------------------------------*/
/*        END   header			*/
/*------------------------------*/


/*------------------------------*/
/*      	 	body			*/
/*------------------------------*/

/*- - - - - - - - - - - - - - - */
/*			main column			*/
/*- - - - - - - - - - - - - - - */


/*- - - - - - - - - - - - - - - */
/*		END 	main column		*/
/*- - - - - - - - - - - - - - - */


/*- - - - - - - - - - - - - - - */
/*			sub column			*/
/*- - - - - - - - - - - - - - - */

/*- - - - - - - - - - - - - - - */
/*		END	sub column			*/
/*- - - - - - - - - - - - - - - */

/*------------------------------*/
/*      END	 	body			*/
/*------------------------------*/

/*------------------------------*/
/*      	 	footer			*/
/*------------------------------*/


/*------------------------------*/
/*      END	 	footer			*/
/*------------------------------*/


/*==============================*/
/*			END general			*/
/*==============================*/

/*==============================*/
/*				Loading			*/
/*==============================*/
body#loading,
body#login {
	background: #4BA4DF;
	color: #FFFFFF;
	height: 100%;
	position: relative;
}
body#chat {
	background: #FFFFFF;
}

#loading section {
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -40px;
}

#loading p {
	padding-bottom: 20px;
}

#loading h1 {
	font-size: 2.0em;
}

#alert_box #alert_content {
	color: #000;
}


/*==============================*/
/*		END		Loading			*/
/*==============================*/
/*==============================*/
/*				Login			*/
/*==============================*/
#login header {
	font-size: 2.6em;
	padding-top: 100px;
}

#login nav,
#login article {
	width: 450px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px 30px;
	color: #000000;
	text-align: left;
	background-color: #F8F8F8;
	font-size: 1.2em;
}

#login nav {
	color: #F76861;
}

#login p {
	text-align: right;
}


#login dl dd input[type="text"],
#login dl dd input[type="password"] {
	border: 1px solid #999;
	width: 438px;
	font-size: 1.4em;
	height: 30px;
	padding: 5px;
}

#login dl dd{
	margin-bottom: 10px;
}


#login dl dd div{
	text-align: right;
}

#login a{
    cursor: pointer;
}


/*==============================*/
/*		END		Login			*/
/*==============================*/
/*==============================*/
/*				Chat			*/
/*==============================*/
body#chat {
	height: 100%;
	position: relative;
	min-width: 1024px;
}

#chat header {
	position: absolute;
	width: 100%;
	height: 42px;
	line-height: 42px;
	top: 0px;
	z-index: 110;
	font-size: 1.8em;
	background: #F8F8F8;
	border-bottom: 1px solid #DFDFDF;
}

#chat header .userprofile{
    line-height: 43px;
    float: right;
    margin-right: 20px;
    font-size: 0.8em;
    cursor: pointer;
}

#chat header .userprofile img{
    vertical-align: middle;
    width: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#chat img.icon1 {
	width: 48px;
	height: 48px;
	border: 2px solid #DFDFDF;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}

#chat .nochat{
    background-color: #F8F8F8;
    height: 100%;
}

#chat .nochat #nochatbox{
    padding: 20px;
    font-size: 16px;
}

/*------------------------------*/
/*       	navigation			*/
/*------------------------------*/
#chat nav {
	position: absolute;
	width: 324px;
	height: 100%;
	background: #F8F8F8;
	z-index: 100;
	border-right: 1px solid #DFDFDF;
}

#chat nav #tab_menu {
	display: table;
	margin-top: 43px;
	width: 100%;
}
#chat nav #tab_menu ul {
	display: table-row;
}
#chat nav #tab_menu ul li {
	display: table-cell;
	width: 25%;
	padding: 5px 0;
	color: #4BA4DF;
	cursor: pointer;
	border-right: 1px solid #DFDFDF;
	border-bottom: 4px solid #DFDFDF;
}
#chat nav #tab_menu ul li:last-child {
	border-right: none;
}
#chat nav #tab_menu ul li.selected {
	border-bottom: 4px solid #4BA4DF;
}
#chat nav #tab_menu ul li:hover {
    background-color: #fff;
}

#chat nav #tab_menu ul li a {
	color: #4BA4DF;
	display: block;
}

#chat nav .menu_search {
	padding: 10px 10px;
	text-align: left;
	background: #FFFFFF;
}

#chat nav .menu_search .chosen-container {
	width: 300px !important;;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 3px;
}

#chat nav .menu_search input[type="text"] {
	width: 273px;
	font-size: 1.6em;
	border: none;
}

/*#chat nav .menu_search a {
	color: #DFDFDF;
}*/

#chat nav ul.menu_list {
	display: table;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 48px;
	border-top: 1px solid #E3E3E3;
}
#chat nav ul.menu_list li {
	display: table-row;
	border-bottom: 1px solid #E3E3E3;
}
#chat nav ul.menu_list li .cell {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 5px 0;
}
#chat nav ul.menu_list li .cell.cell_2 {
	line-height: 1.2em;
}
#chat nav ul.menu_list li .cell.cell_2 .name {
	font-size: 1.4em;
}

#chat nav ul.menu_list li .cell.cell_1 {
	width: 62px;
	text-align: center;
}
#chat nav ul.menu_list li .cell.cell_3 {
	width: 40px;
	text-align: center;
	color: #4BA4DF;
}

#chat nav ul.menu_list li offline i {
	color: #999;
}

#chat nav ul.menu_list li online i {
	color: #f00;
}


#chat nav ul.menu_list li:hover{
    background-color: #fff;
    cursor: pointer;
}

#chat nav ul.menu_list img {
	vertical-align: middle;
}

#chat nav ul.menu_list li.selected {
    background: #4BA4DF;
    color: #fff;
}

#chat nav ul.menu_list li.selected a{
    color: #fff;
}

#chat nav #nav_bottom {
	height: 48px;
	line-height: 48px;
	width: 325px;
	position: fixed;
	left: 0;
	bottom:0;
	z-index: 100;
	color: #FFFFFF;
	background: #4BA4DF;
	cursor: pointer;
}

#chat nav #nav_bottom a {
	color: #FFFFFF;
}

#chat nav #menu_container_selectuser .menu_search {
    margin-top: 43px;
	padding: 10px 10px;
	text-align: left;
	background: #FFFFFF;
}

#chat .categorylist li{
    display: table-row;
    background: #DFDFDF;
    color: #2C2D32;
    line-height: 15px;
    vertical-align: center;
    border-bottom: 1px solid #2C2D32;
}

#chat .categorylist li .cell {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 5px 0;
	line-height: 20px;
}

#chat .categorylist li .cell.cell_1 {
    padding-left: 14px;
	width: 270px;
	text-align: left;
}
#chat .categorylist li .cell.cell_2 {
	width: 40px;
	text-align: center;
	color: #4BA4DF;
}

/*------------------------------*/
/*   END    	navigation		*/
/*------------------------------*/
/*------------------------------*/
/*   	    	footer			*/
/*------------------------------*/
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 50;
	min-height: 48px;
}

footer #mess_type {
	margin-left: 325px;
	background: #fff;
}

footer #mess_type  ul {
	display: table;
	width: 100%;
	height: 48px;
	border-top: 2px solid #DFDFDF;
}

footer #mess_type ul li {
	display: table-cell;
	text-align: left;
	height: 48px;
}

footer #mess_type ul li.small {
	width: 50px;
	vertical-align: top;
	text-align: center;
}
footer #mess_type ul li a  {
	color: #000000;
	display: block;
	position: relative;
	top: 5px;
}

footer #mess_type ul li textarea {
	border: none;
	width: 100%;
	color: #222;
	font-style: normal;
	height: 2.0em;
	margin-top: 10px;
	font-size: 1.5em;
	padding: 1px 0px 0px 5px;
}
footer #mess_type ul li textarea.disabled{
    color: #ccc;
}

/*------------------------------*/
/*   END    	footer			*/
/*------------------------------*/
#main_container {
	min-height: 100px;
}
#chat article {
	padding-top: 43px;
	margin-left: 325px;
	margin-right: 150px;
	margin-bottom: 48px;
}

#chat article section {
	padding: 5px 5px 5px 5px;
	text-align: left;
	position: relative;
	min-height: 65px;
}

#chat article section div.message_icon_holder{
    float: left;
    padding-top: 16px;
}

#chat article section div.message_icon_holder{
    float: left;
    padding-top: 14px;
}

#chat article section .icon_replytarget{
    color: #E03535
}

#chat article section .icon {
	float: left;
	width: 42px;
	
}

#chat article section h2,
#chat article section .text,
#chat article section .media_loading_holder{
	padding-left: 70px;
}
#chat article section .marginfix {
	margin-left: 70px;
}

#chat article section h2 {
	font-size: 1.0em;
}

#chat article section .text {
    font-size: 1.2em;
	text-align: justify;
}
#chat article section .text img {
	margin-right: 20px;
}
#chat input[type="button"].download {
	border: none;
	background: #4BA4DF;
	color: #FFFFFF;
	font-size: 0.8em;
	padding:  6px 15px;
	cursor: pointer;
}

#chat article section .time_stamp {
	text-align: right;
	line-height: 1.4em;
}

#chat article section .replay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: right;
	color: #fff;
}

#chat article section .replay {
	display: none;
}

#chat article section .replay p {
	display: inline-block;
	text-align: center;
	padding: 2px 5px 5px 10px;
	position: relative;
	top: 5px;
	right: 5px;
}

#chat article section .replay a {
	color: #fff;
	text-decoration: none;
}

#chat article section.selected{
	background: #4BA4DF;
	color: #fff;
}
#chat article section.selected .time_stamp {
	color: #4BA4DF;
}

#chat article section.selected .time_stamp {
	color: #4BA4DF;
}

#chat #room_actions{
	width: 150px;
	position: absolute;
	top: 43px;
	right: 0px;
	background: #2C2D32;
}

#chat #room_actions .button{
	width: 130px;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
}


/*------------------------------*/
/*   	 	  Profile 			*/
/*------------------------------*/
#user_profile {
	position: fixed;
	z-index: 1000;
	width: 275px;
	height: 100%;
	top: 0;
	right:0;
	background: #2C2D32;
}

#user_profile img {
	width: 150px;
	height: 150px;
	border: 2px solid #DFDFDF;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	margin-top: 30px;
}

#user_profile dl {
	margin: 0 24px;
	text-align: left;
	color: #FFFFFF;
	margin-top: 20px;
}

#user_profile dl dt {
	font-size: 1.4em;
	padding: 5px 0;
}

#user_profile p {
	text-align: right;
	padding: 10px 24px;
}

#user_profile p a {
	display: inline-block;
	background: #F8F8F8;
	color: #2C2D32;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #B4B4B6;
}

#user_profile .chat_member_list{
    margin-left: 24px;
}

#user_profile .chat_member_list li {
    height: 60px;
    text-align: left;
    line-height: 60px;
    vertical-align: middle;
    margin: 0px;
}

#user_profile .chat_member_list li img{
    margin: 0px;
    vertical-align: middle;
}
#user_profile .chat_member_list li a{
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

#user_profile .room_buttons{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 5px;
}

#user_profile .room_buttons a{
    margin-top: 5px;
}

/*------------------------------*/
/*   END	   Profile 			*/
/*------------------------------*/
/*------------------------------*/
/*   	   Alert view 			*/
/*------------------------------*/
#dialog_view {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

#dialog_view #alert_box {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -200px;
	background: #FFFFFF;
}

#alert_box #alert_title {
	position: relative;
	background: #2E2F33;
	color: #FFFFFF;
	font-size: 1.4em;
	padding: 5px 10px;
}

#alert_box #alert_title a {
	display: block;
	position: absolute;
	top: 0;
	right:5px;
	color: #444444;
}

#alert_box #alert_content {
	text-align: left;
	padding: 10px;
}

#alert_box #alert_bottom {
	background: #F8F8F8;
	padding: 7px 0;
	text-align: right;
}

#alert_box #alert_bottom a {
	display: inline-block;
	width: 108px;
	padding: 8px 0;
	margin: 0 10px;
	background: #4BA4DF;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

#alert_box #alert_form{
	text-align: left;
	padding: 0px 10px 10px 10px;
}
#alert_box #alert_form input[type="text"],
#alert_box #alert_form input[type="password"]
{
	width: 90%;
	padding: 5px;
	margin-bottom: 5px;
}


#thread_view_header{
	
	position: absolute;
	top: 42px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	background: #E03535;
	color: #fff;
	z-index: 100;
	left: 324px;
	width: 100%;
	display: none;
}


#thread_view_header a{
	color: #fff;
}

/*------------------------------*/
/*   END	   Alert view 		*/
/*------------------------------*/
/*==============================*/
/*		END		Chat			*/
/*==============================*/


/*------------------------------*/
/*   	   Progress view 		*/
/*------------------------------*/
#progress_view {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

#progress_view #progress_box {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -200px;
	background: #FFFFFF;
}

#progress_box p {
	text-align: left;
	padding: 10px;
}

.progress_view {

}

.progress_view .progress_box {
    display: inline-block;
	width: 200px;

}

.progress_view .progress_box .meter {
    display: inline-block;
	width: 100%;
}

.media_loading_holder{
    position: relative;
    min-height: 50px;
}

.media_loading_holder video{
    
}

.media_loading_holder .loadbutton{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    margin-left: 70px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.media_loading_holder .loading_cover{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    margin-left: 70px;
    
}

.video .meter{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


.voice .meter{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
}


/*------------------------------*/
/*   Context menu           	*/
/*------------------------------*/

ul#user_menu{
    position: absolute;
    z-index: 1000;
    width: 200px;
    right: 10px;
    top: 50px;
    background: #f9f9f9;
    border: 1px solid #DFDFDF;
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
    display: none;
}

ul#user_menu li{
    padding: 10px;
    cursor: pointer;
}
ul#user_menu li:hover{
    background: #fff;
}
ul#user_menu li a{
    color: #222;
    text-decoration: none;
}

.button_container{
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

/*------------------------------*/
/*   END Context menu    		*/
/*------------------------------*/


/*------------------------------*/
/*   	   Create room  view 	*/
/*------------------------------*/
#chat nav #nav_bottom_createroom {
	height: 48px;
	line-height: 48px;
	width: 325px;
	position: fixed;
	left: 0;
	bottom:0;
	z-index: 100;
	color: #FFFFFF;
	background: #E94B4D;
	cursor: pointer;
}

#chat nav #nav_bottom_createroom a {
	color: #FFFFFF;
}

#createroom_container{
    margin-left: 325px;
    text-align: left;
    padding-left: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


#createroom_container .room_info{
    margin-top: 43px;
    padding-top: 20px; /* 43px for header 20px for actual padding */
}


#createroom_container .img_with_loader{
    position: relative;    
    width: 200px;
	height: 200px;
	float: left;
}

#createroom_container .img_with_loader i{
    top: 80px;
    left: 80px;
	position: absolute;
	color: #fff;
	display: none;
}

#createroom_container .img_with_loader .room_profile_image{
    border: 1px solid #eee;
    width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	cursor: pointer;
	position: absolute;
}

#createroom_container .room_parameters_form{
    margin-left: 25px;
    margin-top: 70px;
    float: left;
    display: block;
}

#createroom_container .mambers_panel{
    width: 720px;
    margin-top: 20px;
}

#createroom_container .room_parameters_form input{
    width: 250px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.2em;
    display: block;
    margin-bottom: 20px;
}

#createroom_container .room_password_holder input{
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}

#createroom_container .room_password_holder{
	margin-bottom: 20px;
}

#createroom_container .room_parameters_form select{
    width: 250px;
    display: block;
    margin-bottom: 20px;
}


#createroom_container .members img{
    width: 40px;
    height: 40px;
    line-height: 50px;
    vertical-align: middle;
}

#createroom_container .members li{
    width: 90%;
    line-height: 50px;
    height: 50px;
    margin: 0px 0px 5px 0px;
    float: left;
    background-color: #f9f9f9;
    display: block;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    position: relative;
    cursor: pointer;
}

#createroom_container .members li i{
    position: absolute;
    right: 10px;
    top: 20px;
}

#createroom_container .members_container{
    float: left;
    width: 30%;
    margin-left: 10px;
}

#createroom_container .members_container h3{
    border-bottom: 1px solid #E3E3E3;
    padding: 0px 0px 3px 0px;
    color: #999;
}

#createroom_container .members_container h3 i{
    color: #777;
    cursor: pointer;
}

#createroom_container .members_container input{
    width: 90%;
    border: none;
    padding: 3px;
    margin-bottom: 5px;
    color: #777;
}

#createroom_container .members_container .selectlist{
    
    height: 300px;
    border: 1px solid #000;
    overflow-y: auto;
    overflow-x: none;
}

#createroom_container .members_container .selectlist ul{
    
    min-height: 300px;
}

#createroom_container  li.selected {
    background: #4BA4DF;
    color: #fff;
}

/*------------------------------*/
/*   END Create room view 		*/
/*------------------------------*/

/*------------------------------*/
/*   Proflie Edit View        	*/
/*------------------------------*/

#profile_edit_view{
    background: #f9f9f9;
    padding-top: 63px;
    text-align: left;
}

#profile_edit_view .img_with_loader{
    margin-left: 100px;
    position: relative;    
    width: 200px;
	height: 200px;
	float: left;
}

#profile_edit_view .img_with_loader i{
    top: 80px;
    left: 80px;
	position: absolute;
	color: #fff;
	display: none;
}

#profile_edit_view .img_with_loader .user_profile_image{
    border: 1px solid #eee;
    width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	cursor: pointer;
	position: absolute;
}

#profile_edit_view #profile_edit_profliedata{
    margin-left: 50px;
    width: 600px;
    float: left;
    text-align: left;
}

#profile_edit_view .formrow{
    width: 550px;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#profile_edit_view .formrow label{
    display: inline-block;
    width: 100px;
}


#profile_edit_view .formrow input{
    padding: 5px;
    width: 350px;
    border: none;
    padding-bottom: 5px;
    font-size: 1.2em;
}

/*------------------------------*/
/*   END Proflie Edit View    	*/
/*------------------------------*/

/*------------------------------*/
/*   ANIMATIONS                	*/
/*------------------------------*/

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

/*------------------------------*/
/*   END ANIMATIONS            	*/
/*------------------------------*/


/*------------------------------*/
/*   CURSOR                 	*/
/*------------------------------*/


.icon_rootmessage,
.icon_repliedmessage,
#maintitle i
{
  cursor: pointer;
}

/*------------------------------*/
/*   END CURSOR             	*/
/*------------------------------*/


/*------------------------------*/
/*   EXTRA MESSAGE            	*/
/*------------------------------*/


#extra_message_box{
    display: none;
    background: #2C2D32;
    border: 1px solid #DFDFDF;
    position: absolute;
    left: 330px;
    bottom: 60px;
    width: 250px;
    height: 200px;
}

#extra_message_box li{
    float: left;
    display: block;
    width: 70px;
    height: 60px;
    padding: 5px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

#extra_message_box li.selected{
    color: #fff;
}

#extra_message_box li i{
    font-size: 32px;
}


.extramessage_dialog_view {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

.extramessage_dialog_view .alert_box {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -200px;
	background: #FFFFFF;
}

.extramessage_dialog_view .alert_box .alert_title {
	position: relative;
	background: #2E2F33;
	color: #FFFFFF;
	font-size: 1.4em;
	padding: 5px 10px;
}

.extramessage_dialog_view .alert_box .alert_title a {
	display: block;
	position: absolute;
	top: 0;
	right:5px;
	color: #444444;
}

.extramessage_dialog_view .alert_box .alert_content {
	text-align: center;
	padding: 10px;
}

.extramessage_dialog_view .alert_box .alert_bottom {
	background: #F8F8F8;
	padding: 7px 0;
	text-align: right;
}

.extramessage_dialog_view .alert_box .alert_bottom a {
	display: inline-block;
	width: 108px;
	padding: 8px 0;
	margin: 0 10px;
	background: #4BA4DF;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.video_preview{
    text-align: center;
    margin-left: 30px;
}

#extramessage_dialog_view_code .alert_box{
    width: 700px !important;
    margin-left: -350px !important;
}

#extramessage_dialog_view_code textarea{
    width: 100%;
    height: 300px;
}

.record_buttons{
    margin-top: 10px;
}
.record_buttons li{
    width: 60px;
    cursor: pointer;
}

.recording{
    color: red;
    display: none;
}

#videoRemotes video{
    height: 200px;
    width: 100%;
}
/*------------------------------*/
/*   END EXTRA MESSAGE          */
/*------------------------------*/

/*------------------------------*/
/*   CODE HIGHLIGHT             */
/*------------------------------*/

#chat article section pre{
    font-size: 12px;
    padding-left: 70px;
}

/*------------------------------*/
/*   END CODE HIGHLIGHT         */
/*------------------------------*/

/*------------------------------*/
/*   CALL WINDOW	            */
/*------------------------------*/

#call_window{
	position: absolute;
	z-index: 1000;
	bottom: 60px;
	right: 5px;
	width: 400px;
	height: 400px;
	background-color: #000;
	border: 1px solid #2C2D32;
}

#call_window .footer_buttons{
	text-align: right;
	background-color: #2C2D32;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
}
#call_window .footer_buttons .button{
	margin: 5px;
	
}

#call_window .my_video_holder{

	position: absolute;
	z-index: 1010;
	bottom: 45px;
	right: 5px;
	width: 150px;
	height: 150px;
¥¥
	overflow: hidden;
}

#call_window .partner_video_holder{
	
	position: absolute;
	z-index: 1010;
	bottom: 45px;
	right: 5px;
	width: 390px;
	height: 350px;
	overflow: hidden;
}

#call_window .avatar{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
}


#call_window .video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#call_window .partner_video_holder video{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

}

#calling_window{
	position: absolute;
	z-index: 1001;
	bottom: 60px;
	right: 5px;
	min-width: 300px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	background-color: #F8F8F8;
	border: 1px solid #DFDFDF;
	padding: 10px;
}

#calling_window .avatar_from img,
#calling_window .avatar_to img{
    width: 40px;
}

#calling_window .status div{
    float: left;
    margin: 0px 10px 0px 10px;
    vertical-align: middle;
}


/*------------------------------*/
/*   END CALL WINDO             */
/*------------------------------*/

/*------------------------------*/
/*   STICKER                    */
/*------------------------------*/

#sticker_selecter{
	
	position: absolute;
	bottom: 52px;
	left: 325px;
	height: 90px;
	background: #F8F8F8;
	overflow-x: auto;
	overflow-y: none;

}

#sticker_selecter .sticker_holder{
    max-height: 90px;
}

.sticker_btn{
    
    float: left;
    display: block;
    width: 75px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border: 1px solid #DFDFDF;

}

.sticker_btn img{
    vertical-align: middle;
    max-height: 75px;
    max-width: 75px;
}

/*------------------------------*/
/*   END STICKER                */
/*------------------------------*/

/*------------------------------*/
/*   NOTE                       */
/*------------------------------*/

#note_holder{
	
	position: absolute;
	top: 43px;
	right: 150px;
	background: #F8F8F8;
	overflow-x: none;
	overflow-y: auto;
    height: 100%;
    width: 300px;
    border-left: 1px solid #DFDFDF;
}

#note_holder textarea{
    margin: 5px;
    background-color: #fff;
    padding: 5px;
}

#note_holder .note_footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: right;

}

#note_holder .note_footer .note_footer_content{
    margin: 5px;
    text-align: right;
}

/*------------------------------*/
/*   END NOTE                   */
/*------------------------------*/



