
body{
    /*overflow: hidden;*/
}
#login dl dd input[type="text"],
#login dl dd input[type="password"] {
	border: 1px solid #000000;
	width: 100%;
	font-size: 1.4em;
	margin-bottom: 10px;
}

#alert_box #alert_content {
	color: #000;
}

#tab_menu li{
    cursor: pointer;
}

#tab_menu li:hover{
    background-color: #fff;
}

.scrollable{
    height: 100px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.menu_list li:hover{
    background-color: #fff;
    cursor: pointer;
}

.nochat{
    background-color: #F8F8F8;
    height: 100%;
}

#nochatbox{
    padding: 20px;
    font-size: 16px;
}

.replay{
    display:none;
}

footer #mess_type ul li textarea {
	margin-top: 10px;
	color: #222;
	font-style: normal;
}

footer #mess_type ul li textarea.disabled{
    color: #ccc;
}

#chat article section .text input[type="button"].download {
	border: none;
	background: #4BA4DF;
	color: #FFFFFF;
	font-size: 0.8em;
	padding:  6px 15px;
	cursor: pointer;
}

#chat article section {
	padding: 5px;
	text-align: left;
	position: relative;
}

#chat nav #nav_bottom {
	cursor: pointer;
}

#menu_container_selectuser .menu_search {
    margin-top: 43px;
	padding: 10px 10px;
	text-align: left;
	background: #FFFFFF;
}


/*------------------------------*/
/*   	   Progress view 		*/
/*------------------------------*/
#progress_view {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

#progress_view #progress_box {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -200px;
	background: #FFFFFF;
}

#progress_box p {
	text-align: left;
	padding: 10px;
}

.button{
	border: none;
	background: #4BA4DF;
	color: #FFFFFF;
	font-size: 1.2em;
	padding:  12px 30px;
	text-decoration: none;
}

.red{
	background: #E94B4D;
}

.menu_list li.selected{
    background: #4BA4DF;
    color: #fff;
}

#chat nav ul.menu_list li.selected a{
    color: #fff;
}


footer {
	background: none;
	min-height: 48px;
}

#chat #left_sidebar{
    z-index: 100
}

footer #mess_type{
	background: #fff;
}

#chat header {
	z-index: 110
}

#chat header .userprofile{
    line-height: 43px;
    float: right;
    margin-right: 20px;
    font-size: 0.8em;
    cursor: pointer;
}

#chat header .userprofile img{
    vertical-align: middle;
    width: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}



/*------------------------------*/
/*   Context menu           	*/
/*------------------------------*/

ul#user_menu{
    position: absolute;
    z-index: 1000;
    width: 150px;
    right: 10px;
    top: 50px;
    background: #f9f9f9;
    border: 1px solid #DFDFDF;
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
    display: none;
}

ul#user_menu li{
    padding: 10px;
    cursor: pointer;
}
ul#user_menu li:hover{
    background: #fff;
}
ul#user_menu li a{
    color: #222;
    text-decoration: none;
}

.button_container{
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

/*------------------------------*/
/*   END Context menu    		*/
/*------------------------------*/


/*------------------------------*/
/*   	   Create room  view 	*/
/*------------------------------*/
#chat nav #nav_bottom_createroom {
	height: 48px;
	line-height: 48px;
	width: 325px;
	position: fixed;
	left: 0;
	bottom:0;
	z-index: 100;
	color: #FFFFFF;
	background: #E94B4D;
	cursor: pointer;
}

#chat nav #nav_bottom_createroom a {
	color: #FFFFFF;
}

#createroom_container{
    margin-left: 325px;
    text-align: left;
    padding-left: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


#createroom_container .room_info{
    margin-top: 43px;
    padding-top: 20px; /* 43px for header 20px for actual padding */
}


#createroom_container .img_with_loader{
    position: relative;    
    width: 200px;
	height: 200px;
	float: left;
}

#createroom_container .img_with_loader i{
    top: 80px;
    left: 80px;
	position: absolute;
	color: #fff;
	display: none;
}

#createroom_container .img_with_loader .room_profile_image{
    border: 1px solid #eee;
    width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	cursor: pointer;
	position: absolute;
}

#createroom_container input{
    margin-left: 25px;
    margin-top: 90px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.2em;
    width: 250px;
    float: left;
    display: block;
}

#createroom_container .members img{
    width: 40px;
    height: 40px;
    line-height: 50px;
    vertical-align: middle;
}

#createroom_container .members li{
    width: 150px;
    line-height: 50px;
    margin: 5px;
    float: left;
    background-color: #f9f9f9;
    display: block;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    position: relative;
    cursor: pointer;
}

#createroom_container .members li i{
    position: absolute;
    right: 10px;
    top: 20px;
}
/*------------------------------*/
/*   END Create room view 		*/
/*------------------------------*/

/*------------------------------*/
/*   Proflie Edit View        	*/
/*------------------------------*/

#profile_edit_view{
    background: #f9f9f9;
    padding-top: 63px;
    text-align: left;
}

#profile_edit_view .img_with_loader{
    margin-left: 100px;
    position: relative;    
    width: 200px;
	height: 200px;
	float: left;
}

#profile_edit_view .img_with_loader i{
    top: 80px;
    left: 80px;
	position: absolute;
	color: #fff;
	display: none;
}

#profile_edit_view .img_with_loader .user_profile_image{
    border: 1px solid #eee;
    width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	cursor: pointer;
	position: absolute;
}

#profile_edit_view #profile_edit_profliedata{
    margin-left: 50px;
    width: 600px;
    float: left;
    text-align: left;
}

#profile_edit_view .formrow{
    width: 550px;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#profile_edit_view .formrow label{
    display: inline-block;
    width: 100px;
}


#profile_edit_view .formrow input{
    padding: 5px;
    width: 350px;
    border: none;
    padding-bottom: 5px;
    font-size: 1.2em;
}

/*------------------------------*/
/*   END Proflie Edit View    	*/
/*------------------------------*/


