<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /spikaenterprise_web.git/Server/wwwroot/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ api.php [QSA,L]
</IfModule>
