{% extends "news/base.twig" %}

{% block content %}

	
	<div class="container">
	
	    {% for news in newsList %}
	    
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3">
				<h4 style="margin-top:20px">{{ news.title }}</h4>
				<p>{{ news.body }}</p>
				<div class="date">{{ news.created|date("Y.m.d") }}</div>				
			</div>
		</div>
		
		{% endfor %}

	</div>
			

{% endblock %}