{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container center">
        
        <form class="form-signin">
        
            {% include "alert.twig" %}
    
            <h3> <i class="fa fa-times"></i> Invalid invitation code </h3>
        
        </form>
        
    </div> <!-- /container -->					

{% endblock %}