{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container center">
        
        <form class="form-signin">
        
            {% include "alert.twig" %}
    
            {{lang.invitation14}}
        </form>
        
    </div> <!-- /container -->					

{% endblock %}