{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container center">
        
    
        {{lang.invitation14}}
        
    </div> <!-- /container -->
    
    <div class="container">
    
        
        <form class="form-signin" method="post" action="{{ROOT_URL}}/accept/signup">
        
            <p style="padding-top:30px">
                {{lang.invitation14}}
            </p>
            
            
        </form>

    </div> <!-- /container -->					

			

{% endblock %}