{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container">
        
        <form class="form-signin">
            <h3>{{lang.invitation12}}</h3>
            <p>
                
                {{lang.invitation13}} <a href="{{CLIENT_URL}}"> {{lang.title}} </a>
            </p>
        </form>
    </div> <!-- /container -->						

{% endblock %}