{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container">
        
        <form class="form-signin">
            <h3>Start using Spika Enterprise !</h3>
            <p>
                Please <a href="{{CLIENT_URL}}"> here </a> to start using Spika.
            </p>
        </form>
    </div> <!-- /container -->						

{% endblock %}